/* body{
font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif; 
}*/
body {
  font-family: "Bebas Neue", cursive;
}

header {
  display: flex;  
  justify-content: space-between;
  padding: 50px 56px;
}

.logo {
  height: 58px;
}

.express-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 26px;
}

.express-container img {
  margin-right: 8px;
  height: 34px;
}

.express-container div,
.right-side nav a {
  color: #3d2514;
  font-weight: 700px;
}
.express-container div {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
.right-side nav a {
  font-family: "Bebas Neue", cursive;
  font-size: 22px;
  letter-spacing: 4px;
  margin: 0 26px;
}

.right-side nav a:first-child {
  margin-left: 0;
}
.right-side nav a:last-child {
  margin-left: 0;
}
