table {
  margin: auto;
  position: relative;
  border-collapse: collapse;
}

.block {
  width: 10vw;
  height: 10vw;
  border: solid black 4px;
}

.red {
  background: #e91e1b;
}

.green {
  background: #11661f;
}

.yellow {
  background: #ffd900;
}

.blue {
  background: #203cd8;
}

.grey {
  background: #c2c0c0;
}
